/*@font-face {
font-family: Berliana;
src: url(/assets/fonts/Berliana\ Lovely.otf);
}*/
/* CSS VARIABLES */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --first-color: #f2d41e;
    --first-color-alt: #f2a81e;
    --title-color: #fafafa;
    --text-color: #a7abb4;
    --white-color: #fff;
    --body-color: #01000a;
    --container-color: #182334;

    /*  Fonts and Typography */
    --text-font: "Poppins", sans-serif;
    --title-font: "Ubuntu", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight */
    --font-lighter: 300;
    --font-light: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive Typography */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

/* BASE  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    line-height: 1.4;
}

ul {
    list-style: none;
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    font-family: var(--title-font);
}

img {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 2.5rem;
    font-family: var(--title-font);
}

.subtitle {
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    padding-left: 2rem;
    position: relative;
    display: flex;
    margin-bottom: 1.3rem;
}

.subtitle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: var(--first-color);
}

.main {
    overflow: hidden;
}

/* Header & Nav */
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    border-bottom: 1px solid rgba(109, 109, 109, 0.4);
    transition: 0.3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: inline-flex;
}

.nav__logo {
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    transform: 0.3s;
}

.nav__logo i {
    font-size: 1.25rem;
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: rgba(0, 6, 15, 0.1);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        -webkit-backdrop-filter: blur(96px);
        transition: 0.3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav__link {
    color: var(--title-color);
    font-size: var (--h2-font-size);
    font-weight: var (--font-medium);
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1.15rem;
    cursor: pointer;
}

.download__link {
    font-size: var(--normal-font-size);
    padding: 1rem 2rem;
    background-color: var(--first-color);
    border-radius: 50px;
    color: var(--body-color);
    transform: 0.3s;
}

.download__link:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

/* Change background color */
.scroll-header {
    background-color: var(--body-color);
}

/* Show Menu */
.show-menu {
    right: 0;
}

/* Home Section */
.home {
    padding-bottom: 0;
}

.home__container {
    padding-top: 4rem;
    row-gap: 3.5rem;
}

.home__title,
.home__value-number {
    color: var(--title-color);
}

.home__title {
    font-size: var(--biggest-font-size);
    line-height: 1.3;
    margin-bottom: 0.9rem;
    text-transform: capitalize;
}

.home__description {
    color: var(--text-color);
    margin-bottom: 2rem;
}

.home-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.9rem 2rem;
    border-radius: 0.4rem 0 0.4rem 2rem;
    font-size: var(--normal-font-size);
    transition: 0.3s;
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.home-button:hover {
    background-color: var(--first-color-alt);
}

.home__value {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.home__value-number {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home__value-number span {
    color: var(--first-color);
}

.line-h {
    height: 50px;
    width: 2px;
    background-color: #a7abb4;
}

/* About section */
.about__description {
    margin-bottom: 2rem;
}

.about__data-card {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 4rem;
}

.about__card {
    background-color: var(--container-color);
    border-radius: 15px;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
}

.about__card img {
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.about__card-title {
    font-size: var(--small-font-size);
}

.about__card-desc {
    font-size: var(--small-font-size);
}

.about-card-icon {
    position: absolute;
    font-size: 1.5rem;
    color: var(--body-color);
    background-color: var(--first-color);
    right: 0;
    bottom: 0;
    padding: 0.4rem;
    border-radius: 15px 0 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.about-card-icon:hover {
    background-color: var(--first-color-alt);
}

/* Brands Section */
.brans__img {
    width: 40px;
    opacity: 0.4;
    transition: 0.3s;
}

.brands__container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.brands__img:hover {
    opacity: 1;
}

/* Why Section */
.why__container {
    background-color: var(--container-color);
    padding: 1.5rem;
}

.why__description {
    font-family: Berliana;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.why__container span {
    color: var(--first-color);
}

/* Popular Section */
.popular {
    margin-top: -13rem;
    padding-bottom: 4rem;
    padding-top: 16rem;
    position: relative;
}

.popular-bg {
    position: absolute;
    height: 100%;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}

.popular__container h2 {
    text-align: center;
}

.popular__card {
    background-color: var(--container-color);
    border-radius: 25px;
    padding: 2rem 1.5rem;
    width: 238px;
    margin-bottom: 3.5rem;
}

.car-name {
    font-size: var(--h2-font-size);
}

.car-model {
    font-size: var(--small-font-size);
}

.car-img {
    height: 100px;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}

.car-img:hover {
    transform: translateX(15px);
}

.car__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car__details span {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    margin-top: 0.5rem;
}

.speed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed img {
    width: 17px;
    margin-right: 0.25rem;
}

.car-line {
    width: 1px;
    height: 12px;
    background-color: var(--text-color);
    margin-top: 0.5rem;
}

.car__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;    
}

.buy-btn {
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.4rem 1rem;
    border-radius: 50px;
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    margin-right: 0.8rem;
}

.buy-btn:hover {
    background-color: var(--first-color-alt);
}

.rent-btn {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    position: relative;
}

.rent-btn:before {
    content: "";
    position: absolute;
    bottom: -0.15rem;
    left: 0;
    width: 75%;
    height: 2px;
    background-color: var(--first-color);
    transition: 0.3s;
}

.rent-btn:hover::before {
    width: 100%;
    background-color: var(--first-color-alt);
}

/* Newsletter section */
.newsletter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--container-color);
    padding: 1.5rem 2rem 2rem 2rem;
}

.newsletter__description {
    margin-bottom: 1.5rem;
}

.newsletter__form {
    display: flex;
    column-gap: 0.5rem;
}

.newsletter-input {
    border: none;
    outline: none;
    padding: 1.1rem 1rem;
    border-radius: 0.25rem;
    width: 65%;
    columns: var(--text-color);
    font-family: var(--text-font);
}

.newsletter-btn {
    padding: 0.75rem;
    font-size: var(--normal-font-size);
    border-radius: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    border: none;
    font-family: var(--text-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: 0.3s;
}

.newsletter-btn:hover {
    background-color: var(--first-color-alt);
}

/* Products section */
.product__subtitle {
    font-size: var(--small-font-size);
    color: var(--first-color);
    text-align: center;
    display: block;
}

.products h2 {
    text-align: center;
}

.product__container {
    padding-top: 1rem;
}

.product__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.product__item {
    width: 48px;
    height: 48px;
    border: none;
    padding: .75rem;
    background-color: var(--container-color);
    border-radius: .75rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-family: var(--title-font);
    transition: 0.3s;
    cursor: pointer;
}

.product__item img {
    width: 1.5rem;
}

.product__item span,
.product__item img {
    opacity: 0.3;
    transition: 0.3s;
}

.product__item:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.product__item:hover span,
.product__item:hover img {
    opacity: 1;
}

.product__item:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.product__content {
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}

.product__card {
    margin-bottom: 0;
}

/* Active product */
.active-product {
    background-color: var(--first-color);
}

.active-product span {
    color: var(--body-color);
    opacity: 1;
}

.active-product img {
    opacity: 1;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* Download Section */
.app__container {
    background-color: var(--container-color);
}

.app__img {
    width: 70%;
    position: relative;
}

.app__data h2 {
    margin-bottom: 1.5rem;
}

.app__description {
    margin-bottom: 2rem;
}

.ios-btn a, .android-btn a {
    padding: .7rem 1.6rem;
    color: var(--body-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.ios-btn a {
    background-color: var(--first-color);
    border-radius: 50px;
    margin-bottom: 1rem;
}

.ios-btn a:hover {
    background-color: var(--first-color-alt);
}

.android-btn a {
    background-color: var(--title-color);
    border-radius: 50px;
}

.android-btn a:hover {
    background-color: var(--container-color);
    color: var(--title-color);
    border: 1px solid var(--title-color);
}

.ios-btn a img,
.android-btn a img {
    width: 30px;
    margin-right: 0.5rem;
}

/* Footer Section */
.footer {
    margin-top: 4rem;
}

.logo-info a {
    margin-bottom: 0.8rem;
}

.footer__title {
    margin-bottom: 1rem;
    font-size: var(--h3-font-size);
}

.footer__description {
    max-width: 250px;
}

.information ul li a,
.company ul li a {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: 0.3s;
    display: inline-block;
}

.information ul li a:hover,
.company ul li a:hover {
    color: var(--first-color);
    transform: translateX(5px);
}

.information ul li, 
.company ul li {
    margin-bottom: 0.8rem;
}

.socials ul {
    display: flex;
    align-items: center;
}

.socials ul li {
    margin-right: .5rem;
}

.socials ul li a i {
    color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.3s;
}

.socials ul li a i:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: var(--container-color);
    margin: 4rem 0 1rem;
}

.copyright small {
    text-align: center;
    display: block;
}

/* Scroll up */
.scrollup {
    position: fixed;
    right: 1.5rem;
    bottom: -30%;
    background-color: #f2d61e3c;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: inline-flex;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: 0.3s;
}

.scrollup:hover {
    transform: translateY(-0.25rem);
}

/* Show scroll */
.show-scroll {
    bottom: 3rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #161f2e;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #2a3e5b;
    border-radius: 1rem;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #33496c;
}

/* Text selection color */
::selection {
    color: var(--body-color);
    background-color: var(--first-color);
}

::-moz-selection {
    color: var(--body-color);
    background-color: var(--first-color);
}